
/* top header*/
#header_bg{
    background-color: #172272;
    color: white;
}
.navbar-nav,
.mr-auto {
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.navbar{
    margin: 0px !important;
    padding: 0px !important;
}
.nav-item{
    border-right: 0.1px solid #2a379b;
    padding: 7px 25px 7px 4px;
}
 
.login{
    border: none !important;
}

/* collaps */
.collapse,.navbar-collapse{
    display: inline-block !important;
}

/* header line two */
.logo{
    width: 90%;
    height: auto;
    padding: 5px;
    margin: 0px;
    justify-content: center;
    height: 100%;
    align-items: center;
}
/* button  */
.links_buttons{
    list-style: none;
    display: flex;
    justify-content: flex-end ;
    padding: 0px;
    margin: 0px;
    height: 100%;
    align-items: center;
}
.links_buttons li{
    margin-right: 15px;
}
.links_buttons li a{
   padding: 5px 22px;
    font-size: 14px;
    font-weight: 600;
    border: 0.1px solid initial;
    border-radius: 5px;  
    text-transform: capitalize; 
}
.pay-btn{
    background:linear-gradient(to right,#172272,#5a68d1);
    color: white !important;
}

.adm-btn{
    color: white !important;
    background:linear-gradient(to right,green,rgb(92, 216, 92));
}

.link{
    border: 1px solid #172272;
    color: #172272 !important;
    transition: 1s;
}

/* button hover */
.link:hover{
    background:linear-gradient(to right,#172272,#5a68d1);
    color: white !important;
}

.pay-btn:hover {
    background:linear-gradient(to right,green,rgb(92, 216, 92));

}

.adm-btn:hover{
    background:linear-gradient(to right,#172272,#5a68d1);

}
/* main header */
@media screen and (max-width:1024px) {
    .nav-item{
        border-right: 0.1px solid #2a379b;
        padding: 6px  !important;
    }  

}
